<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>konfirmasi delete</title>
</head>
<body>
<form method="post">
    {% csrf_token %}
    <h2>yakin ingin menghapus {{ ruang.matkul }} ruang {{ ruang.nama }}?</h2>
    <button type="submit">konfirmasi</button>
</form>
</body>
</html>