{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tambah aktor</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}
</head>
<body>
<div class="container">
    <h1>Tambah / Edit Dosen</h1>
    <form method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button class="btn btn-info" type="submit">Save</button>
        {% if aktor %}
        <a href="{% url 'hapus_dosen' aktor.id %}"><button type="button" class="btn btn-danger">DELETE</button></a>

    {% endif %}
    </form>


</div>

</body>
</html>