{% extends "base/base.html" %}

{% load static %}
{% load bootstrap3 %}
{% block link %}
    {% bootstrap_messages %}
      <!-- Footable CSS -->
    <link href="https://wrappixel.com/ampleadmin/ampleadmin-html/plugins/bower_components/footable/css/footable.core.css" rel="stylesheet">
    <link href="https://wrappixel.com/ampleadmin/ampleadmin-html/plugins/bower_components/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />

{% endblock link %}

{% block judul %}
 Manajemen Kelas
{% endblock %}
{% block breadcrumb %}
<li><a href="{% url 'home_page' %}">home</a></li>
    <li><a href="{% url 'dosen_manajemen_kelas' %}">Manajemen Kelas</a></li>
    <li>Form</li>
{% endblock %}
{% block content %}
    <h1>Tambah / Edit Kelas</h1>

    {% if error_message %}
      <div class="alert alert-warning">{{ error_message }}</div>
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-success active btn-block">Tambah</button>
        {% endbuttons %}
    </form>


    {% if kelas %}

        <a href="{% url 'hapus_kelas' kelas.id %}"><button class="btn btn-danger">DELETE</button></a>

    {% endif %}
</div>
{% endblock content %}


{% block javascript %}
      <!-- Footable -->
    <script src="https://wrappixel.com/ampleadmin/ampleadmin-html/plugins/bower_components/footable/js/footable.all.min.js"></script>
    <script src="https://wrappixel.com/ampleadmin/ampleadmin-html/plugins/bower_components/bootstrap-select/bootstrap-select.min.js" type="text/javascript"></script>
    <!--FooTable init-->
    <script src="{% static 'js/footable-init.js' %}"></script>
    <!--Style Switcher -->
    <script src="https://wrappixel.com/ampleadmin/ampleadmin-html/plugins/bower_components/styleswitcher/jQuery.style.switcher.js"></script>

{% endblock javascript %}
