{% extends "base/base.html" %}

{% load static %}

{% block link %}
    <!-- Footable CSS -->
    <link href="https://wrappixel.com/ampleadmin/ampleadmin-html/plugins/bower_components/footable/css/footable.core.css"
          rel="stylesheet">
    <link href="https://wrappixel.com/ampleadmin/ampleadmin-html/plugins/bower_components/bootstrap-select/bootstrap-select.min.css"
          rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">


    <style>
        * {
            box-sizing: border-box
        }

        /* Set height of body and the document to 100% */

        body,
        html {
            height: 100%;
            margin: 0;
            font-family: Arial;
        }

        /* Style tab links */

        .tablink {
            background-color: #555;
            color: white;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            font-size: 17px;
            width: 16%;
        }

        .tablink:hover {
            background-color: #777;
        }

        /* Style the tab content (and add height:100% for full page content) */

        .tabcontent {
            color: black;
            display: none;
            padding: 100px 20px;
            height: 100%;
        }
    </style>


{% endblock link %}

{% block judul %}
 Manajemen Kelas
{% endblock %}
{% block breadcrumb %}
<li><a href="{% url 'home_page' %}">home</a></li>
    <li>Manajemen kelas</li>
{% endblock %}
{% block content %}

    <div class="row text-right" style="padding-right: 15px"><a href="{% url 'dosen_tambah_kelas' %}">
        <button class="btn btn-success active">tambah kelas</button>
    </a></div>
    <hr>
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">
            <div class="white-box">


                <button class="tablink" onclick="openPage('tabSenin', this, 'green')" id="defaultOpen">Senin</button>
                <button class="tablink" onclick="openPage('tabSelasa', this, 'green')">Selasa</button>
                <button class="tablink" onclick="openPage('tabRabu', this, 'green')">Rabu</button>
                <button class="tablink" onclick="openPage('tabKamis', this, 'green')">Kamis</button>
                <button class="tablink" onclick="openPage('tabJumat', this, 'green')">Jumat</button>
                <button class="tablink" onclick="openPage('tabSabtu', this, 'green')">Sabtu</button>

                <div id="tabSenin" class="tabcontent">
                    <h3 class="box-title">Senin</h3>
                    <table class="table table-striped dt-responsive " style="width:100%" id="senin">
                        <thead>
                        <tr>
                            <td>Mata kuliah</td>
                            <td>Kelas</td>
                            <td>ruang</td>
                            <td>Jam Kuliah</td>
                            <td>Pengampu</td>

                        </tr>
                        </thead>
                        <tbody>
                        {% for x in kelas_hari_senin %}
                            <tr>
                                <td>{{ x.matkul }}</td>
                                <td>{{ x.nama }}</td>
                                <td>{{ x.ruang }}</td>
                                <td>{{ x.jam|join:", " }}</td>
                                <td>{{ x.dosen.all|join:", " }}</td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <hr>

                </div>

                <div id="tabSelasa" class="tabcontent">
                    <h3 class="box-title">Selasa</h3>
                    <table class="table" id="selasa">
                        <thead>
                        <tr>
                            <td>Mata kuliah</td>
                            <td>Kelas</td>
                            <td>ruang</td>
                            <td>Jam Kuliah</td>
                            <td>Pengampu</td>

                        </tr>
                        </thead>
                        <tbody>
                        {% for x in kelas_hari_selasa %}
                            <tr>
                                <td>{{ x.matkul }}</td>
                                <td>{{ x.nama }}</td>
                                <td>{{ x.ruang }}</td>
                                <td>{{ x.jam|join:", "}}</td>
                                <td>{{ x.dosen.all|join:", " }}</td>

                            </tr>
                        {% endfor %}


                        </tbody>
                    </table>
                    <hr>

                </div>

                <div id="tabRabu" class="tabcontent">
                    <h3 class="box-title">Rabu</h3>
                    <table class="table" id="rabu">
                        <thead>
                        <tr>
                            <td>Mata kuliah</td>
                            <td>Kelas</td>
                            <td>ruang</td>
                            <td>Jam Kuliah</td>
                            <td>Pengampu</td>

                        </tr>
                        </thead>
                        <tbody>
                        {% for x in kelas_hari_rabu %}
                            <tr>
                                <td>{{ x.matkul }}</td>
                                <td>{{ x.nama }}</td>
                                <td>{{ x.ruang }}</td>
                                <td>{{ x.jam|join:", " }}</td>
                                <td>{{ x.dosen.all|join:", " }}</td>

                            </tr>
                        {% endfor %}


                        </tbody>
                    </table>
                    <hr>

                </div>

                <div id="tabKamis" class="tabcontent">
                    <h3 class="box-title">Kamis</h3>
                    <table class="table" id="kamis">
                        <thead>
                        <tr>
                            <td>Mata kuliah</td>
                            <td>Kelas</td>
                            <td>ruang</td>
                            <td>Jam Kuliah</td>
                            <td>Pengampu</td>

                        </tr>
                        </thead>
                        <tbody>
                        {% for x in kelas_hari_kamis %}
                            <tr>
                                <td>{{ x.matkul }}</td>
                                <td>{{ x.nama }}</td>
                                <td>{{ x.ruang }}</td>
                                <td>{{ x.jam|join:", " }}</td>
                                <td>{{ x.dosen.all|join:", " }}</td>

                            </tr>
                        {% endfor %}


                        </tbody>
                    </table>
                    <hr>

                </div>

                <div id="tabJumat" class="tabcontent">
                    <h3 class="box-title">Jumat</h3>
                    <table class="table" id="jumat">
                        <thead>
                        <tr>
                            <td>Mata kuliah</td>
                            <td>Kelas</td>
                            <td>ruang</td>
                            <td>Jam Kuliah</td>
                            <td>Pengampu</td>

                        </tr>
                        </thead>
                        <tbody>
                        {% for x in kelas_hari_jumat %}
                            <tr>
                                <td>{{ x.matkul }}</td>
                                <td>{{ x.nama }}</td>
                                <td>{{ x.ruang }}</td>
                                <td>{{ x.jam|join:", " }}</td>
                                <td>{{ x.dosen.all|join:", " }}</td>

                            </tr>
                        {% endfor %}


                        </tbody>
                    </table>
                    <hr>

                </div>

                <div id="tabSabtu" class="tabcontent">
                    <h3 class="box-title">Sabtu</h3>
                    <table class="table" id="sabtu">
                        <thead>
                        <tr>
                            <td>Mata kuliah</td>
                            <td>Kelas</td>
                            <td>ruang</td>
                            <td>Jam Kuliah</td>
                            <td>Pengampu</td>

                        </tr>
                        </thead>
                        <tbody>
                        {% for x in kelas_hari_sabtu %}
                            <tr>
                                <td>{{ x.matkul }}</td>
                                <td>{{ x.nama }}</td>
                                <td>{{ x.ruang }}</td>
                                <td>{{ x.jam|join:", " }}</td>
                                <td>{{ x.dosen.all|join:", " }}</td>

                            </tr>
                        {% endfor %}


                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

{% endblock content %}


{% block javascript %}
    <!-- Footable -->
    <script src="https://wrappixel.com/ampleadmin/ampleadmin-html/plugins/bower_components/footable/js/footable.all.min.js"></script>
    <script src="https://wrappixel.com/ampleadmin/ampleadmin-html/plugins/bower_components/bootstrap-select/bootstrap-select.min.js"
            type="text/javascript"></script>
    <!--FooTable init-->
    <script src="{% static 'js/footable-init.js' %}"></script>
    <!--Style Switcher -->
    <script src="https://wrappixel.com/ampleadmin/ampleadmin-html/plugins/bower_components/styleswitcher/jQuery.style.switcher.js"></script>
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () {
            $('#senin').DataTable();
            $('#selasa').DataTable();
            $('#rabu').DataTable();
            $('#kamis').DataTable();
            $('#jumat').DataTable();
            $('#sabtu').DataTable();
        });
    </script>
    <script>
        function openPage(pageName, elmnt, color) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablink");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].style.backgroundColor = "";
            }
            document.getElementById(pageName).style.display = "block";
            elmnt.style.backgroundColor = color;

        }

        // Get the element with id="defaultOpen" and click on it
        document.getElementById("defaultOpen").click();
    </script>
{% endblock javascript %}

