{% extends "base/base.html" %}

{% load static %}

{% block link %}
    <!-- Footable CSS -->
    <link href="https://wrappixel.com/ampleadmin/ampleadmin-html/plugins/bower_components/footable/css/footable.core.css"
          rel="stylesheet">
    <link href="https://wrappixel.com/ampleadmin/ampleadmin-html/plugins/bower_components/bootstrap-select/bootstrap-select.min.css"
          rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
{% endblock link %}
{% block judul %}
    Manajemen Mata Kuliah
{% endblock %}
{% block breadcrumb %}
<li><a href="{% url 'home_page' %}">home</a></li>
    <li><a href="{% url 'dosen_manajemen_matkul' %}">Manajemen Matakuliah</a></li>
    <li>Kelola</li>
{% endblock %}

{% block content %}
    <div class="row text-right" style="padding-right: 15px">
        <a href="{% url 'dosen_tambah_matkul' %}">
            <button class="text-right btn btn-success">tambah baru</button>
        </a>
    </div>

    <h3 class="box-title m-b-0">Matakuliah yang ditawarkan</h3>
    <form method="post">{% csrf_token %}
        <table id="makul">
            <thead>
            <tr>
                <th> Kode</th>
                <th> Nama</th>
                <th> Jenis</th>
                <th> Jumlah SKS</th>
                <th> Status</th>
                <th>action</th>
            </tr>
            </thead>

            <tbody>
            {% for makul in matkul %}
                <tr>

                    <td>{{ makul.kode }}</td>
                    <td>{{ makul.nama }}</td>
                    <td>{{ makul.get_jenis_display }}</td>
                    <td>{{ makul.sks }}</td>

                    {% if makul.is_aktif == 1 %}
                        <td><span class="label label-table label-success">Ditawarkan</span></td>
                        <td><input name="checks" type="checkbox" checked value="{{ makul.id }}"/>
                            <a href="{% url 'dosen_edit_matkul' makul.id %}">
                                <span><i class="fa fa-pencil-square-o fa-2x"></i></span>
                            </a></td>
                        </td>
                    {% else %}
                        <td><span class="label label-table label-danger">Tidak Ditawarkan</span></td>
                        <td><input name="checks" type="checkbox" value="{{ makul.id }}"/>
                            <a href="{% url 'dosen_edit_matkul' makul.id %}"><span><i
                                    class="fa fa-pencil-square-o fa-2x"></i></span></a></td>
                    {% endif %}


                </tr>
            {% endfor %}


            </tbody>
        </table>
        <br>
        <button class="btn btn-info" type="submit">Simpan</button>
        <button class="btn btn-warning" type="reset">Reset</button>
        <a href="{% url 'reset_matkul' %}"><span class="btn btn-danger">Clear</span></a>
    </form>
    <div class="col-sm-12 text-right m-b-20">
        <div class="form-group"></div>
    </div>
    </div>
    </div>


{% endblock content %}


{% block javascript %}
    <!-- Footable -->
    <script src="https://wrappixel.com/ampleadmin/ampleadmin-html/plugins/bower_components/footable/js/footable.all.min.js"></script>
    <script src="https://wrappixel.com/ampleadmin/ampleadmin-html/plugins/bower_components/bootstrap-select/bootstrap-select.min.js"
            type="text/javascript"></script>
    <!--FooTable init-->
    <script src="{% static 'js/footable-init.js' %}"></script>
    <!--Style Switcher -->
    <script src="https://wrappixel.com/ampleadmin/ampleadmin-html/plugins/bower_components/styleswitcher/jQuery.style.switcher.js"></script>
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () {
            $('#makul').DataTable({
            "order": [ ]

            });

        });
    </script>

{% endblock javascript %}

