{% extends "base/base.html" %}

{% load static %}

{% block link %}
	<!-- Footable CSS -->
    <link href="https://wrappixel.com/ampleadmin/ampleadmin-html/plugins/bower_components/footable/css/footable.core.css" rel="stylesheet">
    <link href="https://wrappixel.com/ampleadmin/ampleadmin-html/plugins/bower_components/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
{% endblock link %}
    
{% block judul %}
    Manajemen Mata Kuliah
{% endblock %}
{% block breadcrumb %}
<li><a href="{% url 'home_page' %}">home</a></li>
    <li>Manajemen Matakuliah</li>
{% endblock %}
{% block content %}
	
                                <div class="form-inline padding-bottom-15">
                                    <div class="row">
                                
                                        <div class="col-sm-12 text-right m-b-20">
                                            <div class="form-group">
                                                <a href="{%  url 'dosen_kelola_matkul' %}">
                                                    <button id="demo-btn-addrow" class="btn btn-success active btn-block">
                                                        <i class="icon wb-plus" aria-hidden="true"></i>Kelola Matakuliah</button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            <h3 class="box-title m-b-0">Matakuliah yang ditawarkan</h3>

                            <table id="demo-foo-accordion" class="table m-b-10 ">
                                <thead>
                                    <tr>
                                        <th data-toggle="true"> Kode </th>
                                        <th> Nama </th>
                                        <th data-hide="phone"> Jenis </th>
                                        <th data-hide="all"> Jumlah SKS </th>
                                        <th data-hide="all"> Status </th>
                                    </tr>
                                </thead>
                                <tbody>
                                	{% for makul in matkul  %}
                                		<tr>
	                                        <td>{{makul.kode}}</td>
	                                        <td>{{makul.nama}}</td>
	                                        <td>{{makul.get_jenis_display}}</td>
	                                        <td>{{makul.sks}}</td>
	                                        <td><span class="label label-table label-success">Ditawarkan</span></td>
	                                    </tr>
                                	{% endfor %}
                                    
                                </tbody>
                            </table>

{% endblock content %}


{% block javascript %}
	    <!-- Footable -->
    <script src="https://wrappixel.com/ampleadmin/ampleadmin-html/plugins/bower_components/footable/js/footable.all.min.js"></script>
    <script src="https://wrappixel.com/ampleadmin/ampleadmin-html/plugins/bower_components/bootstrap-select/bootstrap-select.min.js" type="text/javascript"></script>
    <!--FooTable init-->
    <script src="{% static 'js/footable-init.js' %}"></script>
    <!--Style Switcher -->
    <script src="https://wrappixel.com/ampleadmin/ampleadmin-html/plugins/bower_components/styleswitcher/jQuery.style.switcher.js"></script>

{% endblock javascript %}

