{% extends "base/base.html" %}

{% load static %}
{% load bootstrap3 %}
{% block link %}
    {% bootstrap_messages %}
    	<!-- Footable CSS -->
    <link href="https://wrappixel.com/ampleadmin/ampleadmin-html/plugins/bower_components/footable/css/footable.core.css" rel="stylesheet">
    <link href="https://wrappixel.com/ampleadmin/ampleadmin-html/plugins/bower_components/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />

{% endblock link %}
{% block judul %}
    Manajemen Mata Kuliah
{% endblock %}
{% block breadcrumb %}
<li><a href="{% url 'home_page' %}">home</a></li>
    <li><a href="{% url 'dosen_manajemen_matkul' %}">Manajemen Matakuliah</a></li>
    <li><a href="{% url 'dosen_kelola_matkul' %}">Kelola</a></li>
    {% if matkul %}
    <li>edit</li>
    {% else %}
    <li>tambah</li>
    {% endif %}
{% endblock %}
{% block content %}
    <h1>Tambah / Edit Mata Kuliah</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form }}
        {% buttons %}
            <button type="submit" class="btn btn-success btn-block">Simpan</button>
        {% endbuttons %}
    </form>
{#    </div>#}

    {% if matkul %}

        <a href="{% url 'hapus_matkul' matkul.id %}"><button class="btn btn-danger">DELETE</button></a>

    {% endif %}
</div>
{% endblock content %}


{% block javascript %}
	    <!-- Footable -->
    <script src="https://wrappixel.com/ampleadmin/ampleadmin-html/plugins/bower_components/footable/js/footable.all.min.js"></script>
    <script src="https://wrappixel.com/ampleadmin/ampleadmin-html/plugins/bower_components/bootstrap-select/bootstrap-select.min.js" type="text/javascript"></script>
    <!--FooTable init-->
    <script src="{% static 'js/footable-init.js' %}"></script>
    <!--Style Switcher -->
    <script src="https://wrappixel.com/ampleadmin/ampleadmin-html/plugins/bower_components/styleswitcher/jQuery.style.switcher.js"></script>

{% endblock javascript %}
