{% extends "base/base.html" %}
{% block title %}
    Kaprodi | Kelola Dosen
{% endblock title %}
{% block link %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">

{% endblock link %}
{% block breadcrumb %}
    <li><a href="{% url 'home_page' %}">home</a></li>
    <li><a href="{% url 'dosen_manajemen_dosen' %}">Manajemen Dosen</li></a>
    <li>kelola</li>
{% endblock %}
{% block judul %}
    Manajemen Dosen
{% endblock judul %}
{% block content %}
    <div class="row text-right" style="padding-right: 15px"><a href="{% url 'dosen_tambah_dosen' %}">
        <button class="btn btn-success active">Tambah dosen</button>
    </a></div>
    {# <hr> #}
    {# <div class="row"><a href="{% url 'dosen_tambah_dosen'%}"><button type="button">tambah</button></a></div> #}
    <div class="row">
    <div class="container">
    <h2>Daftar Dosen yang tersedia</h2>
    <hr>
    <div class="col-md-6">
        <table id="jamdos">
            <thead>
            <tr>
                <th>Nama Dosen</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for detail in jamdos %}
                <tr>
                    <td>{{ detail.dosen }}</td>
                    <td><a href="{% url 'dosen_edit_dosen' detail.id%}"><i class="fa fa-edit"></i>edit</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
{% block javascript %}
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () {
            $('#jamdos').DataTable({
                "order": []

            });

        });
    </script>

{% endblock javascript %}