{% extends 'base/base.html' %}
{% load static %}
{% block title %}
Manajemen Dosen
{% endblock %}
{% block link %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">


<link href="https://nightly.datatables.net/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />
<style type="text/css" media="screen">
     .tree, .tree ul {
    margin:0;
    padding:0;
    list-style:none
}
.tree ul {
    margin-left:1em;
    position:relative
}
.tree ul ul {
    margin-left:.5em
}
.tree ul:before {
    content:"";
    display:block;
    width:0;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    border-left:1px solid
}
.tree li {
    margin:0;
    padding:0 1em;
    line-height:2em;
    color:#369;
    font-weight:700;
    position:relative
}
.tree ul li:before {
    content:"";
    display:block;
    width:10px;
    height:0;
    border-top:1px solid;
    margin-top:-1px;
    position:absolute;
    top:1em;
    left:0
}
.tree ul li:last-child:before {
    background:#fff;
    height:auto;
    top:1em;
    bottom:0
}
.indicator {
    margin-right:5px;
}
.tree li a {
    text-decoration: none;
    color:#369;
}
.tree li button, .tree li button:active, .tree li button:focus {
    text-decoration: none;
    color:#369;
    border:none;
    background:transparent;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    outline: 0;
}
</style>
{% endblock link %}
{% block judul %}
 Manajemen Dosen
{% endblock %}
{% block content %}
<div class="row text-right" style="padding-right: 15px"><a href="{% url 'dosen_kelola_dosen'%}">
        <button class="btn btn-success active">kelola dosen</button>
    </a></div>
    {# <hr> #}
{# <div class="row"><a href="{% url 'dosen_tambah_dosen'%}"><button type="button">tambah</button></a></div> #}
<div class="row">
    <div class="container">
<h2>Daftar Jam Khusus Dosen</h2>
<hr>
<div class="col-md-8">
    <ul id="tree2">
        {% for k in jamdos %}
            <li><a href="#">{{k.dosen}}</a> 
            {# <a href="{% url 'dosen_tambah_dosen' %}"><i class="fa fa-pencil"></i></a> #}

            {% regroup k.jam_kuliah.all|dictsort:"hari" by get_hari_display as grouped_list %}
                <ul>
                    {% for l in grouped_list %}
                        <li><a href="#">{{l.grouper}} </a>
                            <ul>
                                {% for m in l.list %}
                                    <li>{{m.get_slot_display}}</li>    
                                {% endfor %}
                                
                            </ul>    
                    {% endfor %}
                        </li>
                    
                </ul>
            </li>
        {% endfor %}
        
    </ul>
</div>
        
{% endblock %}
{% block javascript %}

<script>
    $.fn.extend({
    treed: function (o) {
      
      var openedClass = 'glyphicon-minus-sign';
      var closedClass = 'glyphicon-plus-sign';
      
      if (typeof o != 'undefined'){
        if (typeof o.openedClass != 'undefined'){
        openedClass = o.openedClass;
        }
        if (typeof o.closedClass != 'undefined'){
        closedClass = o.closedClass;
        }
      };
      
        //initialize each of the top levels
        var tree = $(this);
        tree.addClass("tree");
        tree.find('li').has("ul").each(function () {
            var branch = $(this); //li with children ul
            branch.prepend("<i class='indicator glyphicon " + closedClass + "'></i>");
            branch.addClass('branch');
            branch.on('click', function (e) {
                if (this == e.target) {
                    var icon = $(this).children('i:first');
                    icon.toggleClass(openedClass + " " + closedClass);
                    $(this).children().children().toggle();
                }
            })
            branch.children().children().toggle();
        });
        //fire event from the dynamically added icon
      tree.find('.branch .indicator').each(function(){
        $(this).on('click', function () {
            $(this).closest('li').click();
        });
      });
        //fire event to open branch if the li contains an anchor instead of text
        tree.find('.branch>a').each(function () {
            $(this).on('click', function (e) {
                $(this).closest('li').click();
                e.preventDefault();
            });
        });
        //fire event to open branch if the li contains a button instead of text
        tree.find('.branch>button').each(function () {
            $(this).on('click', function (e) {
                $(this).closest('li').click();
                e.preventDefault();
            });
        });
    }
});

//Initialization of treeviews

$('#tree1').treed();

$('#tree2').treed({openedClass:'glyphicon-folder-open', closedClass:'glyphicon-folder-close'});

$('#tree3').treed({openedClass:'glyphicon-chevron-right', closedClass:'glyphicon-chevron-down'});
</script>
{% endblock %}