{% extends "base/base.html" %}

{% load static %}
{% load bootstrap3 %}
{% block link %}
    {% bootstrap_messages %}
      <!-- Footable CSS -->
    <link href="https://wrappixel.com/ampleadmin/ampleadmin-html/plugins/bower_components/footable/css/footable.core.css" rel="stylesheet">
    <link href="https://wrappixel.com/ampleadmin/ampleadmin-html/plugins/bower_components/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
    <link href="https://wrappixel.com/ampleadmin/ampleadmin-html/plugins/bower_components/multiselect/css/multi-select.css" rel="stylesheet" type="text/css" />

<style type="text/css" media="screen">
	.ms-container{
  width: 100%;
}
</style>
{% endblock link %}

{% block judul %}
Manajemen Dosen
{% endblock %}
{% block breadcrumb %}
<li><a href="{% url 'home_page' %}">home</a></li>
    <li><a href="{% url 'dosen_manajemen_dosen' %}">Manajemen Dosen</a></li>
    <li>Form</li>
{% endblock %}
{% block content %}
	{% if message_success %}
		<span class="myadmin-alert myadmin-alert-icon myadmin-alert-click alert-success myadmin-alert-top alerttop" style="display: block;"> <i class="ti-user"></i> {{message_success}} <a href="#" class="closed">×</a> </span>
	{% endif %}
	{% if message_failed %}
		<span class="myadmin-alert myadmin-alert-icon myadmin-alert-click alert-danger myadmin-alert-top alerttop" style="display: block;"> <i class="ti-user"></i> {{message_failed}} <a href="#" class="closed">×</a> </span>
	{% endif %}
	{% if jamdos %}
	    <h1> Edit Jam Dosen</h1>
	{% else %}
    	<h1>Tambah Dosen</h1>>
	{% endif %}


    {% if error_message %}
      <div class="alert alert-warning">{{ error_message }}</div>
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
    {% if jamdos %}
        {% buttons %}
            <button type="submit" class="btn btn-success active btn-block">Simpan</button>
        {% endbuttons %}
        {% else %}
        {% buttons %}
            <button type="submit" class="btn btn-success active btn-block">Tambah</button>
        {% endbuttons %}
    {% endif %}

    </form>
 


    {% if jamdos %}

{#        <a href="{% url 'hapus_jamdos' jamdos.id %}"><button class="btn btn-danger">DELETE</button></a>#}

    {% endif %}
</div>
{% endblock content %}


{% block javascript %}
      <!-- Footable -->
    <script src="https://wrappixel.com/ampleadmin/ampleadmin-html/plugins/bower_components/footable/js/footable.all.min.js"></script>
    <script src="https://wrappixel.com/ampleadmin/ampleadmin-html/plugins/bower_components/bootstrap-select/bootstrap-select.min.js" type="text/javascript"></script>
    <!--FooTable init-->
    <script src="{% static 'js/footable-init.js' %}"></script>
    <!--Style Switcher -->
    <script src="https://wrappixel.com/ampleadmin/ampleadmin-html/plugins/bower_components/styleswitcher/jQuery.style.switcher.js"></script>
            <script type="text/javascript" src="https://wrappixel.com/ampleadmin/ampleadmin-html/plugins/bower_components/multiselect/js/jquery.multi-select.js"></script>

    <script type="text/javascript">
    //Alerts
    $(".myadmin-alert .closed").click(function(event) {
        $(this).parents(".myadmin-alert").fadeToggle(350);
        return false;
    });
    /* Click to close */
    $(".myadmin-alert-click").click(function(event) {
        $(this).fadeToggle(350);
        return false;
    });
    $(".showtop").click(function() {
        $(".alerttop").fadeToggle(350);
    });
    $(".showtop2").click(function() {
        $(".alerttop2").fadeToggle(350);
    });
    /** Alert Position Bottom  **/
    $(".showbottom").click(function() {
        $(".alertbottom").fadeToggle(350);
    });
    $(".showbottom2").click(function() {
        $(".alertbottom2").fadeToggle(350);
    });
    /** Alert Position Top Left  **/
    $("#showtopleft").click(function() {
        $("#alerttopleft").fadeToggle(350);
    });
    /** Alert Position Top Right  **/
    $("#showtopright").click(function() {
        $("#alerttopright").fadeToggle(350);
    });
    /** Alert Position Bottom Left  **/
    $("#showbottomleft").click(function() {
        $("#alertbottomleft").fadeToggle(350);
    });
    /** Alert Position Bottom Right  **/
    $("#showbottomright").click(function() {
        $("#alertbottomright").fadeToggle(350);
    });
        $('#id_jam_kuliah').multiSelect();

    </script>
{% endblock javascript %}
