{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}sia{% endblock title %}</title>
	{% include "./link.html" %}
	{% block link %}{% endblock link %}
</head>
<body class="fix-header">
    <!-- Preloader -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
        </svg>
    </div>
    <div id="vueApp">
        <div id="wrapper">
    		{% include "./navbar.html" %}
    		{% include "./sidebar.html" %}
    		<div id="page-wrapper">
                <div class="container-fluid">
                    <div class="row bg-title">
                        <!-- .page title -->
                        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                            <h4 class="page-title">{% block judul %}
                            
                            {% endblock %}</h4> </div>
                        <!-- /.page title -->
                        <!-- .breadcrumb -->
                        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
{#                            <button class="right-side-toggle waves-effect waves-light btn-info btn-circle pull-right m-l-20"><i class="ti-settings text-white"></i></button>#}
                            <ol class="breadcrumb">
                                {% block breadcrumb %}

                                {% endblock %}
{#                                <li><a href="#">Dashboard</a></li>#}
{#                                <li class="active">Starter Page</li>#}
                            </ol>
                        </div>
                        <!-- /.breadcrumb -->
                    </div>
                    <!-- .row -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="white-box">
                                {% block content %}{% endblock content %}
                            </div>
                        </div>
                    </div>
                    <!-- .row -->
               	</div>
            	<!-- /.container-fluid -->
            	<!-- <footer class="footer text-center"> 2017 &copy; Ample Admin brought to you by themedesigner.in </footer> -->
            </div>
            <!-- /#page-wrapper -->
        </div>
    </div>
{% include "./javascript.html" %}
{% block javascript %}  
{% endblock javascript %}				
</body>

</html>