{% load static %}

<!-- jQuery -->
<script src="https://wrappixel.com/ampleadmin/ampleadmin-html/plugins/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{% static "bootstrap/dist/js/bootstrap.min.js" %}"></script>
<!-- Sidebar menu plugin JavaScript -->
<script src="https://wrappixel.com/ampleadmin/ampleadmin-html/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js"></script>
<!--slimscroll JavaScript -->
<script src="{% static "js/jquery.slimscroll.js" %}"></script>
<!--Wave Effects -->
<script src="{% static "js/waves.js" %}"></script>
<!-- Custom Theme JavaScript -->
<script src="{% static "js/custom.min.js" %}"></script>

