{% load static %}
<!-- Top Navigation -->
<nav class="navbar navbar-default navbar-static-top m-b-0">
    <div class="navbar-header">
        <!-- Toggle icon for mobile view -->
        <div class="top-left-part" style="">
                <!-- Logo -->
                <a class="logo" href="{% url 'home_page' %}">
                    <!-- Logo icon image, you can use font-icon also -->
                    <div style="float:left" class="" >
                        <b>
                            <!--This is dark logo icon-->
                            <!-- <img src="https://wrappixel.com/ampleadmin/ampleadmin-html/plugins/images/admin-logo.png"
                                 alt="home" class="dark-logo"/> -->
                            <!--This is light logo icon-->
                            <img style="width: 30px" src="{% static 'login_template/images/logo.png' %}"
                                 alt="home" class="light-logo"/>
                        </b>
                    </div>
                    <div style="float: right" class="hidden-xs">
                        <!-- Logo text image you can use text also -->
                        <!-- <span style="color: black; font-weight: bold;">Sistem</span>
                        <span style="color: black">Monitoring</span> -->
                        <span class="hidden-xs">
                            <b style="color: #000;font-size: 16px;line-height: 15px; padding: 20px 30px 0 0">
                                Sistem Informasi <br> Akademik
                            </b>
                            <!-- This is dark logo text -->
                            <!-- <img src="https://wrappixel.com/ampleadmin/ampleadmin-html/plugins/images/admin-text.png"
                                 alt="home" class="dark-logo"/> -->
                            <!-- This is light logo text -->
                            <!-- <img src="https://wrappixel.com/ampleadmin/ampleadmin-html/plugins/images/admin-text-dark.png"
                                 alt="home" class="light-logo"/> -->
                         </span>
                    </div>
                </a>
            </div>
        <!-- /Logo -->
        <!-- Search input and Toggle icon -->
        <ul class="nav navbar-top-links navbar-left">
            <li><a href="javascript:void(0)" class="open-close waves-effect waves-light"><i class="ti-menu"></i></a>
            </li>
            {#            <li class="dropdown">#}
            {#                <a class="dropdown-toggle waves-effect waves-light" data-toggle="dropdown" href="#"> <i class="mdi mdi-gmail"></i>#}
            {#                    <div class="notify"><span class="heartbit"></span><span class="point"></span></div>#}
            {#                </a>#}
            {#                <ul class="dropdown-menu mailbox animated bounceInDown">#}
            {#                    <li>#}
            {#                        <div class="drop-title">You have 4 new messages</div>#}
            {#                    </li>#}
            {#                    <li>#}
            {#                        <div class="message-center">#}
            {#                            <a href="#">#}
            {#                                <div class="user-img"> <img src="https://wrappixel.com/ampleadmin/ampleadmin-html/plugins/images/users/pawandeep.jpg" alt="user" class="img-circle"> <span class="profile-status online pull-right"></span> </div>#}
            {#                                <div class="mail-contnet">#}
            {#                                    <h5>Pavan kumar</h5> <span class="mail-desc">Just see the my admin!</span> <span class="time">9:30 AM</span> </div>#}
            {#                            </a>#}
            {#                        </div>#}
            {#                    </li>#}
            {#                    <li>#}
            {#                        <a class="text-center" href="javascript:void(0);"> <strong>See all notifications</strong> <i class="fa fa-angle-right"></i> </a>#}
            {#                    </li>#}
            {#                </ul>#}
            {#                <!-- /.dropdown-messages -->#}
            {#            </li>#}
            {#            <!-- .Task dropdown -->#}
            {#            <li class="dropdown">#}
            {#                <a class="dropdown-toggle waves-effect waves-light" data-toggle="dropdown" href="#"> <i class="mdi mdi-check-circle"></i>#}
            {#                    <div class="notify"><span class="heartbit"></span><span class="point"></span></div>#}
            {#                </a>#}
            {#                <ul class="dropdown-menu dropdown-tasks animated slideInUp">#}
            {#                    <li>#}
            {#                        <a href="javascript:void(0)">#}
            {#                            <div>#}
            {#                                <p> <strong>Task 1</strong> <span class="pull-right text-muted">40% Complete</span> </p>#}
            {#                                <div class="progress progress-striped active">#}
            {#                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%"> <span class="sr-only">40% Complete (success)</span> </div>#}
            {#                                </div>#}
            {#                            </div>#}
            {#                        </a>#}
            {#                    </li>#}
            {#                    <li class="divider"></li>#}
            {#                    <li>#}
            {#                        <a class="text-center" href="#"> <strong>See All Tasks</strong> <i class="fa fa-angle-right"></i> </a>#}
            {#                    </li>#}
            {#                </ul>#}
            {#            </li>#}
            {#            <!-- .Megamenu -->#}
            {#            <li class="mega-dropdown"> <a class="dropdown-toggle waves-effect waves-light" data-toggle="dropdown" href="#"><span class="hidden-xs">Mega</span> <i class="icon-options-vertical"></i></a>#}
            {#                <ul class="dropdown-menu mega-dropdown-menu animated bounceInDown">#}
            {#                    <li class="col-sm-3">#}
            {#                        <ul>#}
            {#                            <li class="dropdown-header">Header Title</li>#}
            {#                            <li><a href="javascript:void(0)">Link of page</a> </li>#}
            {#                        </ul>#}
            {#                    </li>#}
            {#                    <li class="col-sm-3">#}
            {#                        <ul>#}
            {#                            <li class="dropdown-header">Header Title</li>#}
            {#                            <li><a href="javascript:void(0)">Link of page</a> </li>#}
            {#                        </ul>#}
            {#                    </li>#}
            {#                    <li class="col-sm-3">#}
            {#                        <ul>#}
            {#                            <li class="dropdown-header">Header Title</li>#}
            {#                            <li><a href="javascript:void(0)">Link of page</a> </li>#}
            {#                        </ul>#}
            {#                    </li>#}
            {#                    <li class="col-sm-3">#}
            {#                        <ul>#}
            {#                            <li class="dropdown-header">Header Title</li>#}
            {#                            <li> <a href="javascript:void(0)">Link of page</a> </li>#}
            {#                        </ul>#}
            {#                    </li>#}
            {#                </ul>#}
            {#            </li>#}
            <!-- /.Megamenu -->
        </ul>
        <!-- This is the message dropdown -->
        <ul class="nav navbar-top-links navbar-right pull-right">
            <!-- /.Task dropdown -->
            <!-- /.dropdown -->
            <!-- <li>
                <form role="search" class="app-search hidden-sm hidden-xs m-r-10">
                    <input type="text" placeholder="Search..." class="form-control"> <a href="#"><i class="fa fa-search"></i></a> </form>
            </li> -->
            <li class="dropdown">
                <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#"> <img
                        src="https://wrappixel.com/ampleadmin/ampleadmin-html/plugins/images/users/varun.jpg"
                        alt="user-img" width="36" class="img-circle"><b class="hidden-xs">{{ user.username }}</b><span
                        class="caret"></span> </a>
                <ul class="dropdown-menu dropdown-user animated flipInY">
                    <li>
                        <div class="dw-user-box">
                            <div class="u-img"><img
                                    src="https://wrappixel.com/ampleadmin/ampleadmin-html/plugins/images/users/varun.jpg"
                                    alt="user"/></div>
                            <div class="u-text"><h4>{{ user.username }}</h4>
                                <p class="text-muted">{{ user.email }}</p><a href="profile.html"
                                                                             class="btn btn-rounded btn-danger btn-sm">View
                                    Profile</a></div>
                        </div>
                    </li>
                    <li role="separator" class="divider"></li>
                    {#                    <li><a href="#"><i class="ti-user"></i> My Profile</a></li>#}
                    {#                    <li><a href="#"><i class="ti-wallet"></i> My Balance</a></li>#}
                    {#                    <li><a href="#"><i class="ti-email"></i> Inbox</a></li>#}
                    {#                    <li role="separator" class="divider"></li>#}
                    {#                    <li><a href="#"><i class="ti-settings"></i> Account Setting</a></li>#}
                    {#                    <li role="separator" class="divider"></li>#}
                    <li><a href="{% url 'logout_page' %}"><i class="fa fa-power-off"></i> Logout</a></li>

                </ul>
                <!-- /.dropdown-user -->
            </li>

            <!-- /.dropdown -->
        </ul>
    </div>
    <!-- /.navbar-header -->
    <!-- /.navbar-top-links -->
    <!-- /.navbar-static-side -->
</nav>