{% load cek_group %}

<!-- Left navbar-header -->
<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav slimscrollsidebar">
        <div class="sidebar-head">
            <h3><span class="fa-fw open-close"><i class="ti-close ti-menu"></i></span> <span
                    class="hide-menu"><a href="{% url 'home_page' %}">SIA</a></span></h3>
        </div>

        <ul class="nav" id="side-menu">
            <li><a href="javascript:void(0)" class="waves-effect active"><i data-icon="7"
                                                                            class="linea-icon linea-basic fa-fw"></i><span
                    class="hide-menu">Link type </span></a></li>
            {% if user.dosen %}
                {% if user|cek_group:'Kaprodi' %}
                    <li><a href="javascript:void(0)" class="waves-effect"><i data-icon="/"
                                                                             class="linea-icon linea-basic fa-fw"></i><span
                            class="hide-menu">Kaprodi<span class="fa arrow"></span><span
                            class="label label-rouded label-purple pull-right">2</span></span></a>
                        <ul class="nav nav-second-level">
                            <li><a href="{% url 'dosen_manajemen_kelas' %}"><i data-icon=")"
                                                                               class="linea-icon linea-basic fa-fw"></i><span
                                    class="hide-menu">Manajemen Kelas</span></a></li>
                            {# <li><a href="javascript:void(0)"><i data-icon=")" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Tampilkan Jadwal Dosen</span></a></li> #}
                            <li><a href="{% url 'dosen_manajemen_matkul' %}"><i data-icon=")"
                                                                                class="linea-icon linea-basic fa-fw"></i><span
                                    class="hide-menu">Manajemen Makul</span></a></li>
                             <li><a href="{% url 'dosen_manajemen_dosen' %}"><i data-icon=")" class="linea-icon linea-basic fa-fw"></i><span
                                     class="hide-menu">Manajemen Dosen</span></a></li>
                            {# <li><a href="javascript:void(0)"><i data-icon=")" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Menawarkan Makul</span></a></li> #}
                            {# <li><a href="javascript:void(0)"><i data-icon=")" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Manajemen Kelas Dosen</span></a></li> #}
                        </ul>
                    </li>
                {% endif %}


                <li><a href="javascript:void(0)" class="waves-effect"><i data-icon=""
                                                                         class="linea-icon linea-basic fa-fw"></i><span
                        class="hide-menu">Dosen<span class="fa arrow"></span><span
                        class="label label-rouded label-purple pull-right">2</span></span></a>
                    <ul class="nav nav-second-level">
                        <li><a href="{% url 'dosen_jadwal_mengajar' %}"><i data-icon="/"
                                                                           class="linea-icon linea-basic fa-fw"></i><span
                                class="hide-menu">Jadwal Mengajar</span></a></li>
                        {#                        <li> <a href="{% url 'dosen_daftar_mahasiswa' %}"><i data-icon="7" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Daftar Mahasiswa</span></a> </li>#}

                    </ul>
                </li>

            {% elif user.mahasiswa %}
                <li><a href="javascript:void(0)" class="waves-effect"><i data-icon=""
                                                                         class="linea-icon linea-basic fa-fw"></i><span
                        class="hide-menu">Mahasiswa<span class="fa arrow"></span><span
                        class="label label-rouded label-purple pull-right">2</span></span></a>
                    <ul class="nav nav-second-level">
                        <li><a href="{% url 'tampilan_mahasiswa' %}"><i data-icon="/"
                                                                        class="linea-icon linea-basic fa-fw"></i><span
                                class="hide-menu">Manajemen KRS</span></a></li>
                        <li><a href="{% url 'mahasiswa_jadwal_kuliah' %}"><i data-icon="7"
                                                                             class="linea-icon linea-basic fa-fw"></i><span
                                class="hide-menu">Jadwal Kuliah</span></a></li>

                    </ul>
                </li>
            {% endif %}

            {#            #}
            {#            <li> <a href="javascript:void(0)" class="waves-effect"><i data-icon="" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">BAU<span class="fa arrow"></span><span class="label label-rouded label-purple pull-right">2</span></span></a>#}
            {#                <ul class="nav nav-second-level">#}
            {#                    <li> <a href="?tampil=ruang&javascript:void(0)"><i data-icon="/" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Manajemen Ruang</span></a> </li>#}
            {#                    <li> <a href="javascript:void(0)"><i data-icon="7" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Alokasi Ruang</span></a> </li>#}
            {#                    </li>#}
            {#                </ul>#}
            {#            </li>#}
        </ul>
    </div>
</div>
<!-- Left navbar-header end -->