<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
</head>
<body>
<div class="container">
    <h2>menu admin</h2>
    <div class="container-fluid">
        <ul>
{#            <li><a href="{% url '' %}">Matakuliah</a></li>#}
{#            <li><a href="{% url '' %}">Matakuliah</a></li>#}
{#            <li><a href="{% url '' %}">Matakuliah</a></li>#}
{#            <li><a href="{% url '' %}">Matakuliah</a></li>#}
{#            <li><a href="{% url '' %}">Matakuliah</a></li>#}
{#            <li><a href="{% url '' %}">Matakuliah</a></li>#}
        </ul>
    </div>
</div>
</body>
</html>