{% extends "base/base.html" %}
{% load static %}
{% block title %}
	
{% endblock title %}
{% block judul %}
 Dashboard
{% endblock %}
{% block breadcrumb %}
<li><a href="{% url 'home_page' %}">home</a></li>
{% endblock %}
{% block content %}
	<h3>Selamat datang {{ request.user }}, di Sistem Informasi Akademik</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad atque delectus harum laboriosam voluptate. A aspernatur assumenda consectetur culpa eaque facere libero obcaecati placeat, porro provident quod sunt tempora temporibus?.Lorem ipsum dolor sit amet, consectetur adipisicing elit.lorem Amet animi debitis eaque, explicabo fugit in laborum maiores maxime necessitatibus nobis numquam officiis omnis optio provident quae quo ratione sed, tempore.</p>     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi debitis eaque, explicabo fugit in laborum maiores maxime necessitatibus nobis numquam officiis omnis optio provident quae quo ratione sed, tempore.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi debitis eaque, explicabo fugit in laborum maiores maxime necessitatibus nobis numquam officiis omnis optio provident quae quo ratione sed, tempore.</p>

{% endblock content %}

{% block javascript %}
	<!-- Select2 -->
<script src="{% static "plugins/select2/select2.full.min.js" %}"></script>
<!-- iCheck 1.0.1 -->
<script src="{% static "plugins/iCheck/icheck.min.js" %}"></script>
<!-- InputMask -->
<script src="{% static "plugins/input-mask/jquery.inputmask.js" %}"></script>
<script src="{% static "plugins/input-mask/jquery.inputmask.date.extensions.js" %}"></script>
<script src="{% static "plugins/input-mask/jquery.inputmask.extensions.js" %}"></script>

<script>
  $(function () {
    //Initialize Select2 Elements
    $('.select2').select2()

    //Datemask yyyy
    $('#datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })

    //iCheck for checkbox and radio inputs
    $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
      checkboxClass: 'icheckbox_minimal-blue',
      radioClass   : 'iradio_minimal-blue'
    })
    //Red color scheme for iCheck
    $('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
      checkboxClass: 'icheckbox_minimal-red',
      radioClass   : 'iradio_minimal-red'
    })
    //Flat red color scheme for iCheck
    $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
      checkboxClass: 'icheckbox_flat-green',
      radioClass   : 'iradio_flat-green'
    })


});
</script>
{% endblock javascript %}