{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login SIA</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="{% static 'login_template/' %}images/logo.png"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'login_template/' %}vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="{% static 'login_template/' %}fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'login_template/' %}vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="{% static 'login_template/' %}vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'login_template/' %}vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'login_template/' %}css/util.css">
    <link rel="stylesheet" type="text/css" href="{% static 'login_template/' %}css/main.css">
    <!--===============================================================================================-->
</head>
<body>

<div class="limiter">

    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-pic js-tilt" data-tilt>
                <img src="{% static 'login_template/' %}images/logo.png" alt="IMG">
            </div>
            <form class="login100-form validate-form" id="loginform"
                  action="." method="post" accept-charset="UTF-8" role="form">
					<span class="login100-form-title">
                        {% csrf_token %}
						Login Sistem Informasi Akademik
					</span>
                <span class="container-login100-form-btn">{% if error_message %}
                    <p>{{ error_message }}</p>
                {% endif %}</span>

                <div class="wrap-input100 validate-input" data-validate="masukkan username dengan benar">
                    <input class="input100" type="text" name="username" placeholder="Username">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
							<i class="fa fa-user" aria-hidden="true"></i>
						</span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Password is required">
                    <input class="input100" type="password" name="password" placeholder="Password">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
                </div>

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn">
                        Login
                    </button>
                </div>

                <div class="text-center p-t-100">
                </div>
            </form>
        </div>
    </div>
</div>


<!--===============================================================================================-->
<script src="{% static 'login_template/' %}vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="{% static 'login_template/' %}vendor/bootstrap/js/popper.js"></script>
<script src="{% static 'login_template/' %}vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="{% static 'login_template/' %}vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="{% static 'login_template/' %}vendor/tilt/tilt.jquery.min.js"></script>
<script>
    $('.js-tilt').tilt({
        scale: 1.1
    })
</script>
<!--===============================================================================================-->
<script src="{% static 'login_template/' %}js/main.js"></script>

</body>
</html>