{% load bootstrap3 %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tambah aktor</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}
</head>
<body>
    <h1>Tambah / Edit Krs</h1>
    <div class="container">
    <form method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-success btn-block">Simpan</button>
        {% endbuttons %}
    </form>
    </div>

    {% if krs %}

        <a href="{% url 'hapus_krs' krs.id %}"><button class="btn btn-danger">DELETE</button></a>

    {% endif %}
</body>
</html>