{% load bootstrap3 %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tambah aktor</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}
</head>
<body>
<div class="container">
<p style="text-align: right">anda login sebagai {{ user.username }}</p>
{#{{ user.nim }}  {{ user.nidk }}#}
    {% if user.mahasiswa %}
    dengan nim {{ user.mahasiswa.nim }}
    {% elif user.dosen %}
    dengan nidk {{ user.dosen.nik }}
{% endif %}
    <h1>Tambah / Edit Mata Kuliah</h1>
    <div class="container">
    <form method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-success btn-block">Simpan</button>
        {% endbuttons %}
    </form>
    </div>

    {% if matkul %}

        <a href="{% url 'hapus_matkul' matkul.id %}"><button class="btn btn-danger">DELETE</button></a>

    {% endif %}
</div>
</body>
</html>