<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <ul>
        {% for k in matkul %}
            <a href="{% url 'edit_matkul' k.id%}">
                <li>{{ k }}</li>
            </a>
        {% endfor %}
        
    </ul>
    {{ user.groups.all.0  }}
    {% if user.groups.all.0%}
        <a href="{% url 'tambah_matkul' %}">Matakuliah baru</a>
    {% endif %}
</body>
</html>