{% load bootstrap3 %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}
</head>
</head>
<body>
    <div class="container">
    <h1>daftar Mahasiswa</h1>
        <ul>
            {% for k in mahasiswa %}
{#                <a href="{% url 'edit_aktor' k.id%}">#}
                    <li>{{ k.user }}</li>
{#                </a>#}
            {% endfor %}

        </ul>
{#            <a href="{% url 'tambah_aktor' %}">Aktor baru</a>#}
        <a href="{% url 'home_mahasiswa_view' %}">{% bootstrap_button "detail Mahasiswa" button_type="button" button_class="btn-success" %}</a>


        <hr>
    <h1>daftar dosen</h1>
    <ul>
        {% for dos in dosen %}
{#            <a href="{% url 'edit_aktor' k.id%}">#}
                    <li>{{ dos.user }}</li>
{#                </a>#}
        {% endfor %}


    </ul>
        <a href="{% url 'home_dosen_view' %}">{% bootstrap_button "detail Dosen" button_type="button" button_class="btn-success" %}</a>

    </div>
</body>
</html>