<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tambah aktor</title>
</head>
<body>
    <h1>Tambah / Edit aktor</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Save</button>
    </form>

    {% if aktor %}
        <a href="{% url 'hapus_mahasiswa' aktor.id %}">DELETE</a>
    
    {% endif %}
</body>
</html>