<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <ul>
        {% for k in kelas %}
            <a href="{% url 'edit_kelas' k.id%}">
                <li>{{ k.matkul }} {{ k.nama }}</li>
            </a>
        {% endfor %}
        
    </ul>
        <a href="{% url 'tambah_kelas' %}">Kelas baru</a>

</body>
</html>