{% extends 'base/base.html' %}
{#{% load bootstrap3 %}#}
{% block title %}
    Jadwal Kuliah
{% endblock %}
{% block link %}
    {#    {% bootstrap_css %}#}
    {#    {% bootstrap_javascript %}#}
    {#    {% bootstrap_messages %}#}
{% endblock %}
{% block judul %}
 Jadwal Perkuliahan
{% endblock %}
{% block breadcrumb %}
<li><a href="{% url 'home_page' %}">home</a></li>
    <li>Jadwal</li>
{% endblock %}
{% block content %}
    <div class="text-center alert-info panel-heading">{{ judul }}</div>
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">
            <div class="white-box">
                {% if jadwal_hari_senin %}
                    <h3 class="box-title">Senin</h3>
                    <table class="table table-striped">
                        <thead>
                        <tr style="background-color: aquamarine">

                            <td scope="col">
                                <b>Kelas</b>
                            </td>
                            <td scope="col">
                                <b>Mata Kuliah</b>
                            </td>
                            <td scope="col">
                                <b>Pengampu</b>
                            </td>
                            <td scope="col">
                                <b>Ruang</b>
                            </td>
                            <td scope="col">
                                <b>Jam</b>
                            </td>

                        </tr>
                        </thead>
                        <hr>
                        <tbody>
                        {% for x in jadwal_hari_senin %}
                            <tr>
                                <td align="center">{{ x.kelas.nama }}</td>
                                <td>{{ x.kelas.matkul }}</td>
                                <td>{{ x.kelas.dosen.all|join:", " }}</td>
                                <td>{{ x.kelas.ruang }}</td>
                                <td>{{ x.kelas.jam_kuliah.get_slot_display }}</td>

                            </tr>
                        {% endfor %}


                        </tbody>
                    </table>
                    <hr>
                {% endif %}
                {% if jadwal_hari_selasa %}
                    <h3 class="box-title">Selasa</h3>
                    <table class="table">
                        <thead>
                        <tr style="background-color: aquamarine">

                            <td scope="col">
                                <b>Kelas</b>
                            </td>
                            <td scope="col">
                                <b>Mata Kuliah</b>
                            </td>
                            <td scope="col">
                                <b>Pengampu</b>
                            </td>
                            <td scope="col">
                                <b>Ruang</b>
                            </td>
                            <td scope="col">
                                <b>Jam</b>
                            </td>

                        </tr>
                        </thead>
                        <tbody>
                        {% for x in jadwal_hari_selasa %}
                            <tr>
                                <td>{{ x.kelas.nama }}</td>
                                <td>{{ x.kelas.matkul }}</td>
                                <td>{{ x.kelas.dosen.all|join:", " }}</td>
                                <td>{{ x.kelas.ruang }}</td>
                                <td>{{ x.kelas.jam_kuliah.get_slot_display }}</td>

                            </tr>
                        {% endfor %}


                        </tbody>
                    </table>
                    <hr>

                {% endif %}
                {% if jadwal_hari_rabu %}

                    <h3 class="box-title">Rabu</h3>
                    <table class="table">
                        <thead>
                        <tr style="background-color: aquamarine">

                            <td scope="col">
                                <b>Kelas</b>
                            </td>
                            <td scope="col">
                                <b>Mata Kuliah</b>
                            </td>
                            <td scope="col">
                                <b>Pengampu</b>
                            </td>
                            <td scope="col">
                                <b>Ruang</b>
                            </td>
                            <td scope="col">
                                <b>Jam</b>
                            </td>

                        </tr>
                        </thead>
                        <tbody>
                        {% for x in jadwal_hari_rabu %}
                            <tr>
                                <td>{{ x.kelas.nama }}</td>
                                <td>{{ x.kelas.matkul }}</td>
                                <td>{{ x.kelas.dosen.all|join:", " }}</td>
                                <td>{{ x.kelas.ruang }}</td>
                                <td>{{ x.kelas.jam_kuliah.get_slot_display }}</td>

                            </tr>
                        {% endfor %}


                        </tbody>
                    </table>
                    <hr>

                {% endif %}
                {% if jadwal_hari_kamis %}

                    <h3 class="box-title">Kamis</h3>
                    <table class="table">
                        <thead>
                        <tr style="background-color: aquamarine">

                            <td scope="col">
                                <b>Kelas</b>
                            </td>
                            <td scope="col">
                                <b>Mata Kuliah</b>
                            </td>
                            <td scope="col">
                                <b>Pengampu</b>
                            </td>
                            <td scope="col">
                                <b>Ruang</b>
                            </td>
                            <td scope="col">
                                <b>Jam</b>
                            </td>

                        </tr>
                        </thead>
                        <tbody>
                        {% for x in jadwal_hari_kamis %}
                            <tr>
                                <td>{{ x.kelas.nama }}</td>
                                <td>{{ x.kelas.matkul }}</td>
                                <td>{{ x.kelas.dosen.all|join:", " }}</td>
                                <td>{{ x.kelas.ruang }}</td>
                                <td>{{ x.kelas.jam_kuliah.get_slot_display }}</td>

                            </tr>
                        {% endfor %}


                        </tbody>
                    </table>
                    <hr>
                {% endif %}
                {% if jadwal_hari_jumat %}

                    <h3 class="box-title">Jumat</h3>
                    <table class="table">
                        <thead>
                        <tr style="background-color: aquamarine">

                            <td scope="col">
                                <b>Kelas</b>
                            </td>
                            <td scope="col">
                                <b>Mata Kuliah</b>
                            </td>
                            <td scope="col">
                                <b>Pengampu</b>
                            </td>
                            <td scope="col">
                                <b>Ruang</b>
                            </td>
                            <td scope="col">
                                <b>Jam</b>
                            </td>

                        </tr>
                        </thead>
                        <tbody>
                        {% for x in jadwal_hari_jumat %}
                            <tr>
                                <td>{{ x.kelas.nama }}</td>
                                <td>{{ x.kelas.matkul }}</td>
                                <td>{{ x.kelas.dosen.all|join:", " }}</td>
                                <td>{{ x.kelas.ruang }}</td>
                                <td>{{ x.kelas.jam_kuliah.get_slot_display }}</td>

                            </tr>
                        {% endfor %}


                        </tbody>
                    </table>
                    <hr>

                {% endif %}
                {% if jadwal_hari_sabtu %}

                    <h3 class="box-title">Sabtu</h3>
                    <table class="table">
                    <thead>
                    <tr style="background-color: aquamarine">

                        <td scope="col">
                            <b>Kelas</b>
                        </td>
                        <td scope="col">
                            <b>Mata Kuliah</b>
                        </td>
                        <td scope="col">
                            <b>Pengampu</b>
                        </td>
                        <td scope="col">
                            <b>Ruang</b>
                        </td>
                        <td scope="col">
                            <b>Jam</b>
                        </td>

                    </tr>
                    </thead>
                    <tbody>
                    {% for x in jadwal_hari_sabtu %}
                        <tr>
                            <td>{{ x.kelas.nama }}</td>
                            <td>{{ x.kelas.matkul }}</td>
                            <td>{{ x.kelas.dosen.all|join:", " }}</td>
                            <td>{{ x.kelas.ruang }}</td>
                            <td>{{ x.kelas.jam_kuliah.get_slot_display }}</td>

                        </tr>
                    {% endfor %}

                {% endif %}
                </tbody>
                </table>
                <hr>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}

{% endblock %}


