{% extends 'base/base.html' %}
{% load bootstrap3 %}
{% block title %}
    tambah KRS
{% endblock %}
{% block link %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}
{% endblock %}
{% block judul %}
 KRS
{% endblock %}
{% block breadcrumb %}
<li><a href="{% url 'home_page' %}">home</a></li>
    <li><a href="{% url 'tampilan_mahasiswa' %}">Krs</a></li>
    <li>Tambah</li>
{% endblock %}
{% block content %}
    <h1>Tambah / Edit Krs</h1>
    <form method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-success btn-block">Simpan</button>
        {% endbuttons %}
    </form>

    {% if krs %}

        <a href="{% url 'hapus_krs' krs.id %}">
            <button class="btn btn-danger">DELETE</button>
        </a>

    {% endif %}
{% endblock %}
{% block javascript %}

{% endblock %}


