{% extends "base/base.html" %}

{% block title %}
    KRS
{% endblock title %}

{% block link %}

{% endblock link %}
{% block judul %}
 KRS
{% endblock %}
{% block breadcrumb %}
<li><a href="{% url 'home_page' %}">home</a></li>
    <li>Krs</li>
{% endblock %}
{% block content %}
    <div class="row text-right"><a href="{% url 'mahasiswa_tambah_krs' %}">
        <button class="btn btn-danger"><i class="fa fa-plus"></i> tambah matkul</button>
    </a></div>
<br>
    <table class="table table-hover">
        <thead class="thead">
        <tr style="background-color: aquamarine">
            <td scope="col"><b>makul</b></td>
            <td scope="col"><b>kelas</b></td>
            <td scope="col"><b>sks</b></td>
            <td scope="col"><b>jam</b></td>
            <td scope="col"><b>action</b></td>

        </tr>
        </thead>
        <tbody>
        {% for x in krs %}
            <tr>
                <td>{{ x.kelas.matkul }}</td>
                <td>{{ x.kelas.nama }}</td>
                <td>{{ x.kelas.matkul.sks }}</td>
                <td>{{ x.kelas.jam_kuliah }}</td>
                <td><a href="{% url 'mahasiswa_hapus_krs' x.id %}"><i class="fa fa-trash fa-2x"></i></a></td>
            </tr>
        {% endfor %}


        </tbody>
        <tfoot>
            <tr style="background-color: aquamarine">
                <td colspan="2"><b>Total SKS</b></td>
                <td colspan="3"><b>{{ total_sks }}</b></td>
            </tr>
        </tfoot>
    </table>
    <div class="row panel-footer">Jumlah SKS yang dapat diambil  : {{ sks_mhs }}</div>
    {{ data }}
    
{% endblock content %}

{% block javascript %}

{% endblock javascript %}