{% extends "base/base.html" %}

{% block title %}{% endblock title %}

{% block link %}{% endblock link %}


{% block content %}
<div class="row"></div>
    <div></div>
{% endblock content %}


{% block javascript %}
	
{% endblock javascript %}