{% extends "base/base.html" %}

{% block title %}{% endblock title %}

{% block link %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
<style>
    * {
        box-sizing: border-box
    }

    /* Set height of body and the document to 100% */

    body,
    html {
        height: 100%;
        margin: 0;
        font-family: Arial;
    }

    /* Style tab links */

    .tablink {
        background-color: #555;
        color: white;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        font-size: 17px;
        width: 16%;
    }

    .tablink:hover {
        background-color: #777;
    }

    /* Style the tab content (and add height:100% for full page content) */

    .tabcontent {
        color: black;
        display: none;
        padding: 100px 20px;
        height: 100%;
    }
</style>
{% endblock link %}

{% block judul %}
 Jadwal Mengajar Dosen
{% endblock %}





{% block content %}
    <div class="row panel-heading alert-custom text-center"> {{ judul }}</div>
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">
            <div class="white-box">


<button class="tablink" onclick="openPage('tabSenin', this, 'green')" id="defaultOpen">Senin</button>
<button class="tablink" onclick="openPage('tabSelasa', this, 'green')">Selasa</button>
<button class="tablink" onclick="openPage('tabRabu', this, 'green')">Rabu</button>
<button class="tablink" onclick="openPage('tabKamis', this, 'green')">Kamis</button>
<button class="tablink" onclick="openPage('tabJumat', this, 'green')">Jumat</button>
<button class="tablink" onclick="openPage('tabSabtu', this, 'green')">Sabtu</button>       

                <div id="tabSenin" class="tabcontent">
                <h3 class="box-title">Senin</h3>
                <table id="senin" class="table table-striped">
                    <thead>
                    <tr>

                        <td>jam</td>
                        <td>ruang</td>
                        <td>Matakuliah</td>
                        <td>kelas</td>

                    </tr>
                    </thead>
                    <tbody>
                    {% for x in jadwal_hari_senin %}
                            <tr @click="showDetailMahasiswa({{ x.id }})">
                                <td>{{ x.jam_kuliah.get_slot_display }}</td>
                                <td>{{ x.ruang }}</td>
                                <td>{{ x.matkul }}</td>
                                <td>{{ x.nama }}</td>
                            </tr>
                    {% endfor %}


                    </tbody>
                </table>
                </div>

                <div id="tabSelasa" class="tabcontent">
            <h3 class="box-title">Selasa</h3>
            <table id="selasa" class="table">
                    <thead>
                    <tr>
                        <td>jam</td>
                        <td>ruang</td>
                        <td>Matakuliah</td>
                        <td>kelas</td>

                    </tr>
                    </thead>
                    <tbody>
                    {% for x in jadwal_hari_selasa %}
                    <tr @click="showDetailMahasiswa({{ x.id }},5)">
                                <td>{{ x.jam_kuliah.get_slot_display }}</td>
                                <td>{{ x.ruang }}</td>
                                <td>{{ x.matkul }}</td>
                                <td>{{ x.nama }}</td>

                    </tr>
                    {% endfor %}


                    </tbody>
                </table>
            </div>

            <div id="tabRabu" class="tabcontent">
            <h3 class="box-title">Rabu</h3>
                <table id="rabu" class="table">
                    <thead>
                    <tr>
                        <td>jam</td>
                        <td>ruang</td>
                        <td>Matakuliah</td>
                        <td>kelas</td>

                    </tr>
                    </thead>
                    <tbody>
                    {% for x in jadwal_hari_rabu %}
                    <tr @click="showDetailMahasiswa({{ x.id }})">
                                <td>{{ x.jam_kuliah.get_slot_display }}</td>
                                <td>{{ x.ruang }}</td>
                                <td>{{ x.matkul }}</td>
                                <td>{{ x.nama }}</td>

                    </tr>
                    {% endfor %}


                    </tbody>
                </table>
            </div>

            <div id="tabKamis" class="tabcontent">
            <h3 class="box-title">Kamis</h3>
                <table id="kamis" class="table">
                    <thead>
                    <tr >
                        <td>jam</td>
                        <td>ruang</td>
                        <td>Matakuliah</td>
                        <td>kelas</td>

                    </tr>
                    </thead>
                    <tbody>
                    {% for x in jadwal_hari_kamis %}
                    <tr @click="showDetailMahasiswa({{ x.id }})">
                                <td>{{ x.jam_kuliah.get_slot_display }}</td>
                                <td>{{ x.ruang }}</td>
                                <td>{{ x.matkul }}</td>
                                <td>{{ x.nama }}</td>

                    </tr>
                    {% endfor %}


                    </tbody>
                </table>
            </div>

            <div id="tabJumat" class="tabcontent">
            <h3 class="box-title">Jumat</h3>
            <table id="jumat" class="table">
                    <thead>
                    <tr>
                        <td>jam</td>
                        <td>ruang</td>
                        <td>Matakuliah</td>
                        <td>kelas</td>

                    </tr>
                    </thead>
                    <tbody>
                    {% for x in jadwal_hari_jumat %}
                    <tr @click="showDetailMahasiswa({{ x.id }})">
                                <td>{{ x.jam_kuliah.get_slot_display }}</td>
                                <td>{{ x.ruang }}</td>
                                <td>{{ x.matkul }}</td>
                                <td>{{ x.nama }}</td>

                    </tr>
                    {% endfor %}


                    </tbody>
                </table>
                </div>

                <div id="tabSabtu" class="tabcontent">
            <h3 class="box-title">Sabtu</h3>
            <table id="sabtu" class="table">
                    <thead>
                    <tr>
                        <td>jam</td>
                        <td>ruang</td>
                        <td>Matakuliah</td>
                        <td>kelas</td>

                    </tr>
                    </thead>
                    <tbody>
                    {% for x in jadwal_hari_sabtu %}
                    <tr  @click="showDetailMahasiswa({{ x.id }}, 'wow')">
                                <td>{{ x.jam_kuliah.get_slot_display }}</td>
                                <td>{{ x.ruang }}</td>
                                <td>{{ x.matkul }}</td>
                                <td>{{ x.nama }}</td>

                    </tr>
                    {% endfor %}


                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>

    <!-- sample modal content -->
    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="detailMahasiswaModal" aria-hidden="true" style="display: none;" id="detailMahasiswaModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="detailMahasiswaModalTitle">Daftar Mahasiswa</h4> </div>
                <div class="modal-body">
                    <h4>Mata Kuliah [[matkul]]</h4>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>NIM</th>
                                <th>Nama</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(data, no) in detailData">
                                <td>
                                    [[ no + 1 ]]
                                </td>
                                <td>
                                    [[ data.nim ]]
                                </td>
                                <td>
                                    [[ data.user ]]
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal">Close</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->    

{% endblock content %}


{% block javascript %}
	       <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
        <script>
            $(document).ready(function () {
                $('#senin').DataTable({responsive: true});
                $('#selasa').DataTable({responsive: true});
                $('#rabu').DataTable({responsive: true});
                $('#kamis').DataTable({responsive: true});
                $('#jumat').DataTable({responsive: true});
                $('#sabtu').DataTable({responsive: true});
            });
        </script>
        <script>
            function openPage(pageName, elmnt, color) {
                var i, tabcontent, tablinks;
                tabcontent = document.getElementsByClassName("tabcontent");
                for (i = 0; i < tabcontent.length; i++) {
                    tabcontent[i].style.display = "none";
                }
                tablinks = document.getElementsByClassName("tablink");
                for (i = 0; i < tablinks.length; i++) {
                    tablinks[i].style.backgroundColor = "";
                }
                document.getElementById(pageName).style.display = "block";
                elmnt.style.backgroundColor = color;

            }
            // Get the element with id="defaultOpen" and click on it
            document.getElementById("defaultOpen").click();
        </script>

        <script>
            // Vue.config.delimiters = ['{[{', '}]}'];
            Vue.options.delimiters = ['[[', ']]'];
            new Vue({
                el: '#vueApp',
                data: {
                    matkul : '',
                    detailData: [],
                },
                mounted(){
                    // $("#detailMahasiswaModal").DataTable();
                },
                created(){

                },
                methods:{
                    showDetailMahasiswa(id, matkulterpilih){
                        $.get("/dosen/jadwal-mengajar/detail/" + id)
                            .done(response => {
                                console.log(matkulterpilih);
                                this.matkul = matkulterpilih;
                                this.detailData = []
                                response.map(e => {
                                    this.detailData.push(e.fields)
                                })
                                // $("#detailMahasiswaModal").DataTable();
                                $("#detailMahasiswaModal").modal('toggle')

                            })
                            .error(response => {
                                alert('data tidak ditemukan')
                            })
                    },
                }
            });

        </script>

{% endblock javascript %}